<div class="container">
  <div class="row mt-3">
    <h3>Profile</h3>
  </div>
  <div class="row mt-3">
    <form>
      <div class="form-group">
        <label for="displayName">Display Name</label>
        <input
          type="text"
          name="displayName"
          id="displayName"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="hobby">Hobby:</label>
        <select
          name="hobby"
          id="hobby"
          class="form-control"
        >
          <option value="">Select a hobby</option>
          <option value="movies">Movies</option>
          <option value="tv-series">TV Series</option>
          <option value="games">Games</option>
          <option value="books">Books</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-secondary">Reset</button>
      </div>
    </form>
  </div>
</div>
